<ion-content class="load-state">
  <div class="container">
    <div class="top">
      <img src="../../assets/img/logo_afridev.png" alt="">
      <h1>Sites</h1>
    </div>
    <div class="botom">
      <ion-list class="liste">
        <ion-item>
          <ion-select placeholder="Select Sous Site" (ionChange)="handleChange($event)" class="select">
            <ion-select-option *ngFor="let soussites of sousiteBySite" [value]="soussites">
                {{ soussites.sous_domaine}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>      
        <div class="connexion">
          <button class="btn-choix" [routerLink]="['/note']" >
            Choisir
          </button>
        </div>
    </div>
  </div>
</ion-content>
