ion-content
{
  --ion-background-color: #59C5CD;
}
.top
{
  background-color: #FF9701;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  border-radius: 0 0 100% 100%;
  color: white;
}
.top h1
{
  font-weight: 500;
  font-size: 46px !important;
}
form
{
  margin: 0 auto;
  padding: 35px;
}
label{
  color: #ffff;
}
.select{
  padding: 21px;
  border-radius: 7px;
  border: 1px solid white;
  background-color: #c1e0be;
  opacity: 0.7;
  width: 90%;
  margin: 7% auto;
}
::placeholder {
  color: #ffff;
}
.connexion .btn-choix
{
  width: 120px;
  color: #fff;
  background-color: #373737;
  border-radius: 5px;
  margin-left: 20%;
  padding: 15px;
}
.connexion .btn-choix p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.liste{
 background-color: rgba(139, 20, 20, 0);
}

@media only screen and (min-width: 768px){

  .select{
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #ffff;
    background-color: #c1e0be;
    opacity: 0.7;
    width: 613px;
    height: 94px;
    margin: 10% auto;
  }

.connexion .btn-choix
{
  width: 20%;
  color: #fff;
  background-color: #373737;
  border-radius: 5px;
  margin-left: 20%;
  padding: 19px;
}
.connexion .btn-choix p 
{
  font-size: 20px;
}
}
