
<ion-content>
  <div class="container">
    <div class="top">
      <img src="../../assets/img/logo_afridev.png" alt="">
    </div>
    <div class="botom">
      <div class="img-succuess">
        <img src="../../assets/icon/valider.png" alt="">
      </div>
      <div class="titre-envoyer">
        <h3>Envoyé</h3>
      </div>
      <div class="p-merci">
        <p>Merci de votre retour</p>
      </div>
      <div class="home">
        <ion-icon name="home-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>

