<ion-content>
  <div class="container">
    <div class="top">
      <h1>Niveau de satisfaction</h1>
    </div>
    <div class="botom">
        <div class="texte-question">
          <p>A quel point êtes-vous satisfait de nos services?</p>
        </div>
       <div class="satisfaction">
          <button class="niveau" (click)="noter(1)">
              <img src="../../assets/icon/satisfait.png" alt="good">
              <p>satisfait</p>
              <ion-icon [color]="color1" class="valide" name="chevron-down-circle"></ion-icon>
          </button>
          <button class="niveau" (click)="noter(2)">
              <img src="../../assets/icon/neutre.png" alt="good">
              <p class="neutre">neutre</p>
              <ion-icon [color]="color2" class="valide" name="chevron-down-circle"></ion-icon>
          </button>
          <button class="niveau" (click)="noter(3)">
              <img src="../../assets/icon/peutsatisfait.png" alt="good">
              <p>pas satisfait</p>
              <ion-icon [color]="color3" class="valide" name="chevron-down-circle"></ion-icon>
          </button>
       </div>
    </div>
  </div>
    <button [ngClass]="active" (click)=" popupDesible()">
      <div class="row  icon" >
        <ion-icon class="ok" name="chevron-down-outline"></ion-icon>
      </div>
      <div class="row title">
        <h3>Envoyé</h3>
      </div>
      <div class="row">
        <p>Merci pour votre retour</p>
      </div>
    </button>
</ion-content>
