ion-content
{
  --ion-background-color: #59C5CD;
}
.top
{
  background-color: #FF9701;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  border-radius: 0px 0px 371px 376px / 0px 0px 125px 125px;
  color: #ffff;
}
.botom
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}
.texte-question p
{
  color: #ffff;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-top: -5px;
}
.niveau
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 15px;
}
.niveau img
{
    width: 30px;
    height: 30px;
}
.niveau .valide
{
    width: 40px;
    height: 40px;
    color: #c4edc4;
}
.btn-envoyer-avis
{
    width: 90px;
    color: #fff;
    background-color: #373737;
    border-radius: 5px;
    padding: 10px;
}

.neutre
{
  padding-left: 10px;
  padding-right: 10px;
}

.valide
{
  transition: color 2s;

}

.visible-popup {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  position: absolute;
  margin: 0 auto;
  padding-top: 40px;
  margin-top: -240px;
  margin-left: 62px;
  height: 250px;
  border-radius: 15%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.icon .ok
{
  color: #59C5CD;
  font-size: 50px;
  border-radius: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #c4edc4;
  width: 50px;
  height: 50px;
}
.title h3
{
  color: #59C5CD;
}

.desible-popup
{
  visibility: hidden;
}